.unset-screen-reader-text{
  border: initial;
  clip: unset;
  -webkit-clip-path: unset;
  clip-path: unset;
  height: auto;
  margin: unset;
  overflow: auto;
  padding: unset;
  position: relative;
  width: auto;
  word-wrap: normal;
  display: unset;
}


html{
  min-height: 100%;
  
  &.wp-toolbar{
    padding-top: 60px;
    @include breakpoint( small ){
      padding-top: 0;
    }
  }
  #wpbody{
    @include breakpoint( small ){
      padding-top: 60px;
    }
  }
  #update-nag, .update-nag{
    margin: 25px 20px 0 40px;
    @include breakpoint( medium ){
      margin: 25px 20px 0 10px;
    }
  }
  body #wpwrap #wpcontent #wpbody #wpbody-content{
    position: relative;
    min-height: 100%;
    .wrap{
      min-height: 100vh;
      position: relative;
      padding: 40px;
      @include breakpoint(medium){
        padding: 0 20px 20px;
      }
      @include breakpoint(small){
        padding: 0 10px 10px;
      }
    }
    .woocommerce_options_panel{
      .wrap{
        min-height: inherit;
        position: relative;
        padding: 0;
      } 
    }
  }
  .folded #wpcontent,
  .folded #wpfooter {
    margin-left: 61px;
    padding: 0;
    @include breakpoint( medium ){
      margin-left: 0;
    }
  }
  tr.user-admin-color-wrap{
    display: none;
  }
  #wpcontent {
    margin-left: 201px;
    padding: 0;
    @include breakpoint( large ){
      margin-left: 61px !important;
      padding: 0;
    }
    @include breakpoint( medium ){
      margin-left: 0px !important;
      padding-left: 0px !important;
      padding: 0;
    }
  }
  #wpfooter {
    margin-left: 230px;
    padding: 20;
    @include breakpoint( large ){
      margin-left: 61px;
      padding: 20;
    }
    @include breakpoint( medium ){
      margin-left: 0px;
      padding-left: 0px;
      padding: 0;
    }
  }
  .folded #wpfooter{
    margin-left: 105px;
    padding: 20;
    @include breakpoint( large ){
      margin-left: 105px;
      padding: 20;
    }
    @include breakpoint( medium ){
      margin-left: 0px;
      padding-left: 0px;
      padding: 0;
    }
  }
}

#wpbody-content {
	float: left;
	width: 100%;
  padding: 0;
  .wrap{
    position: relative;
    background-color: #F2F3F5;
    margin: 0;
    .wp-heading-inline, h1{
      color: $gray-dark;
      font-weight: 600;
      font-size: 2.5em;
    }
    .wp-heading-inline{
      .title-count{
        margin-right: 5px;
        top: -6px;
        padding: 6px 10px;
      }
    }

    .page-title-action{
      background-color: white;
      border: 1px solid $yellow;
      border-radius: 16px;
      padding: 6px 12px;
      color: $yellow;
      //height: 24px;
      position: relative;
      top: -6px;
      &:hover{
        background-color: $yellow;
        color: white;
      }
      &:focus, &:active{
        border-color: $yellow;
        box-shadow: 0 0 0 1px $yellow-light;
        outline: 2px solid transparent;
      }
    }
    // applied only for new posts
    // some plugins can put buttons on head

    a[href*="-new.php"],
    a[href$="-install.php"]{
      &:not(.welcome-icon){
        background-color: $yellow-light;
        border-radius: 16px;
        border: 1px solid $yellow-light;
        padding: 12px 12px;
        font-size: 0px;
        color: transparent;
        height: 24px;
        width: 2px;
        position: relative;
        top: -11px;
        &:hover{
          background-color: $yellow;
        }
        &:after{
          content: '';
          width: 2px;
          height: 16px;
          background-color: #fff;
          position: absolute;
          top: 4px;
          left: 11px;
        }
        &:before{
          content: '';
          width: 16px;
          height: 2px;
          background-color: #fff;
          position: absolute;
          top: 10.5px;
          left: 4px;
        }
      }
    }
    .screen-reader-text{
      display: none;
    }
    ul.subsubsub{
      width: 100%;
      padding: 0 0 32px 0;
      margin: 0;
      }
    }
    > form#posts-filter{
      + form {
        display: none;
      }
    }
    > #posts-filter{
      .search-box{
        width: 100%;  
        padding: 20px 0;
      }  
    }
    form.search-plugins{
      padding:  0;
    }
  .search-box{
    width: calc(100% - 20px);
    background-color: #fff;
    display: flex;
    float: inherit;
    border-radius: .5em .5em 0 0;
    //@include box-shadow(0, 6px, 12px, rgba(0,0,0,.1));
    margin: 32px 0 0;
    padding: 30px 10px 20px;
    position: relative;
    label.screen-reader-text{
      border: initial;
      clip: unset;
      -webkit-clip-path: unset;
      clip-path: unset;
      height: auto;
      margin: unset;
      overflow: auto;
      padding: unset;
      width: auto;
      word-wrap: normal;
      display: unset;
      position: absolute;
      top: 8px;
    }
    input[type='search']{
      width: 100%;
      border: none;
      border-radius: 32px;
      margin: 0 24px 0 0;
      background-color: $gray-light;
      color: $gray-dark;      
      &:before{
        content: 'Search';
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      }
    }
    // #post-search-input, 
    // #plugin-search-input{
    //   width: 100%;
    // }
  }
  @include breakpoint(medium){
    .search-box{
      width: calc(100% - 20px);
      margin-bottom: 0;
      padding: 5px 10px;
      position: fixed;
      bottom: 0;
      left: 0;
      max-height: 40px;
      z-index: 9990;
      -webkit-box-shadow: 0 -1px 6px 0 rgba(32, 33, 36, 0.28);
       box-shadow: 0 -1px 6px 0 rgba(32, 33, 36, 0.28);
       // replace text button by css icon
       &:before{
        content: '';
        width: 20px;
        height: 20px;
        border: 3px solid white;
        border-radius: 20px;
        position: absolute;
        right: 17px;
        top: 11px;
      }
      &:after{
        content: '';
        position: absolute;
        right: 13px;
        bottom: 11px;
        width: 5px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 2px solid white;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
      #search-submit{
        color: white;
        border-color: $primary-hover;
        background: $primary;
        // remove text from buttom
        text-indent: -999px;
        min-width: 40px;
        @include transition( all .2s ease );
        &:hover{
          color: white;
          background: $primary-hover;
          border-color: $primary-hover;
        }
        &:active{
          color: white;
          background: darken($primary-hover, 8%);
          border-color: $primary-hover;
        }
        &:focus{
          color: white;
          background: darken($primary-hover, 8%);
          border-color: $primary-hover;
          box-shadow: 0 0 0 1px $primary-hover;
          outline: 2px solid transparent;
          outline-offset: 0;
        }
       }
    }
  }
}


.accordion-section-title:hover:after, 
.handlediv:focus, 
.handlediv:hover, 
.item-edit:focus, 
.item-edit:hover, 
.postbox .handlediv.button-link:focus, 
.postbox .handlediv.button-link:hover, 
.sidebar-name:hover .toggle-indicator, 
.widget-action:focus, 
.widget-top:hover .widget-action{
  outline: none;
}


#ure_page_permissions_link{
  margin-left: 200px !important;
}
#ure_list_page_permissions{
  margin-left: 200px !important;
}

img.avatar{
  border-radius: 100px;
}