#dashboard-widgets{
  .postbox-container{
    .empty-container{
      border-radius: $border-radius;  
    }
  }
}

#dashboard_right_now .search-engines-info:before, 
#dashboard_right_now li a:before, 
#dashboard_right_now li span:before, 
.welcome-panel .welcome-icon:before,
#dashboard_activity .comment-meta span.approve:before {
  color: $gray;
}

#dashboard-widgets-wrap {
  margin-top: 30px;
}

// Activity Widget

#dashboard_activity{
  #published-posts, #future-posts{
    ul{
      li{
        span{
          display: block;
          font-size: $xsmall;
          text-transform: uppercase;
          line-height: 1em;
        }
        a{
          display: block;
          font-size: $medium + 0.1;
        }
      }
    }
  }
}