#dashboard-widgets{
  .postbox-container{
    .empty-container{
      border-radius: $border-radius;  
    }
  }
}

#dashboard_right_now .search-engines-info:before, 
#dashboard_right_now li a:before, 
#dashboard_right_now li span:before, 
.welcome-panel .welcome-icon:before,
#dashboard_activity .comment-meta span.approve:before {
  color: $gray;
}

#dashboard-widgets-wrap {
  margin-top: 30px;
  .postbox{
    border-radius: $border-radius;
    border-color: transparent;
    @include box-shadow(0, 6px, 12px, rgba(0,0,0,.1));
    .avatar{
      width: 36px;
      height: 36px;
    }
    .postbox-header{
      border-bottom: none;
      .handle-actions{
        button{
          border-radius: 20px;
          min-width: 36px;
          min-height: 36px;
          margin: 4px;
          @include transition(all .2s ease);
          &:hover{
            background-color: $hover-color;
          }
          &:focus{
            background-color: $hover-color;
            border: none;
            outline: none;
            outline-offset: 0;
          }
        }
      }
      .handlediv, 
      .handle-order-lower,
      .handle-order-higher{
        &:focus{
          outline: none;
          box-shadow: none;
        }
        
      }
    }
    .inside{
      //padding: 4px 24px 16px 24px;
      line-height: 24px;
    }
    
  }  
}

// Activity Widget

#dashboard_activity{
  #published-posts, #future-posts{
    ul{
      li{
        span{
          display: block;
          font-size: $xsmall;
          text-transform: uppercase;
          line-height: 1em;
        }
        a{
          display: block;
          font-size: $medium + 0.1;
        }
      }
    }
  }
}