/* Style Emojis Panel ==============================*/
.settings_page_ewlwat{
  .emojionearea.emojionearea-inline > .emojionearea-editor {
    left: 0 !important;
  }
}
.ewlwat-emojify-settings{
  display: flex;
  flex-direction: row;
  > th{
    //display: none;
  }
  td{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .item-menu-to-emoji{
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #ccc;
      margin: 8px;
      padding: 8px;
      width: calc( 32% - 18px);
      @include breakpoint(xlarge){
        width: calc( 48% - 22px);
      }
      @include breakpoint(large){
        width: calc( 48% - 22px);
      }
      @include breakpoint(medium){
        width: calc( 48% - 24px);
      }
      @include breakpoint(small){
        width: 100%;
      }
      .item-menu-title-to-emoji{
        font-weight: bold;
      }

    }
  }
}

/* Override Dashicons by Emojis :) ==============================*/

.ewlwat-emojify{
  #adminmenu{
    div{
      &.wp-menu-image{
        // remove dashicons
        display: none !important;
      }
    }
    .wp-submenu-head{
      .wp-menu-name{
        // adjust menu to receive emojis
        margin-left: 40px;
        font-size: 0.9em;
      }
    }
    a{
      &.menu-top{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        padding: 2px 0;
        border-radius: 50px;
        margin-bottom: 4px;
        @include breakpoint( large ){
          padding: 0;
        }
        &::before{
          font-size: 1.5em;
          position: absolute;
          left: 9px;
          top: 3px;
          @include breakpoint( large ){
            top: 7px;
          }
          @include breakpoint( medium ){
            top: 11px;
          }
        }
        .wp-menu-name{
          // adjust menu to receive emojis
          margin-left: 40px;
          font-size: 0.9em;
        }
      }
    }
    li{
      > a{
        // adjust menu to receive emojis
        //padding-left: 32px;
        &.menu-top{
          &:focus, &:hover{
            background-color: $menu-item-selected;
          }
        }
      }
      &.wp-has-current-submenu{
        a { 
          &.wp-has-current-submenu{
            background: $menu-item-selected;
            color: $text-color;
            font-weight: bold;
            &:hover { 
              box-shadow: none;
            }
          }
        }
      }
      &.opensub { 
        a > {
          .menu-top {
            background-color: $menu-item-selected;
            box-shadow: none;
          }
        }
      }
    }
  }
  &.folded {
    #adminmenu {
      li {
        > a {
          padding-left: 0;
        }
      }
      a{
        &.menu-top{
          padding: 0;
          &::before{
            left: 9px;
            top: 9px;
            @include breakpoint( medium ){
              top: 9px;
            }
          }
        }
      }
    }
    @include breakpoint( medium ){
      #adminmenu{
        a {
          &.menu-top{
            width: calc( 100% - 10px ) !important;
            // background-color: $menu-item-selected;
            // &:hover, &:focus, &:active{
            //   background-color: $menu-item-selected;
            // }
          }
        }
        li{
          &.wp-has-current-submenu{
            background-color: transparent !important;
            .wp-submenu{
              background: $menu-background !important;
              box-shadow: none !important;
            }
          }
          &.wp-menu-open, &.selected{
            > a {
              background: $menu-item-selected !important;
            }
            
          }
        }
      }
    }
  }

  // Defaults

  #menu-dashboard > a::before{
    content: '📺';
  }

  #menu-media > a::before{
    content: '📸';
  }

  #menu-links > a::before{
    content: '🔗';
  }

  #menu-comments > a::before{
    content: '📢';
  }

  #menu-posts > a::before{
    content: '✍';
  }

  #menu-pages > a::before{
    content: '📝';
  }

  #menu-posts-forum > a::before{
    content: '💬';
  }

  #menu-posts-topic > a::before{
    content: '🗃';
  }

  #menu-posts-reply > a::before{
    content: '📥';
  }

  #menu-posts-elementor_library > a::before{
    content: '📐';
  }

  #menu-posts-product > a::before{
    content: '🥫';
  }

  #menu-posts-bp-email > a::before{
    content: '💌';
  }

  #menu-posts-cookielawinfo > a::before{
    content: '👍';
  }

  #menu-posts-tribe_events > a::before{
    content: '📆';
  }

  #menu-appearance > a::before{
    content: '🎨';
  }

  #menu-plugins > a::before{
    content: '🍭';
  }

  #menu-users > a::before{
    content: '👥';
  }

  #menu-tools > a::before{
    content: '🛠';
  }

  #menu-settings > a::before{
    content: '⚙';
  }

  #toplevel_page_yith_plugin_panel > a::before{
    content: '🛸';
  }

  #toplevel_page_wpseo_dashboard > a::before{
    content: '🥇';
  }

  #toplevel_page_woocommerce-marketing > a::before{
    content: '🔥';
  }

  #toplevel_page_wpcf7 > a::before{
    content: '📩';
  }

  #toplevel_page_wpforms-overview > a::before{
    content: '📋';
  }

  #toplevel_page_woocommerce > a::before{
    content: '🛍';
  }

  #toplevel_page_amp-options > a::before{
    content: '⚡';
  }

  #toplevel_page_edit-post_type-acf-field-group > a::before{
    content: '📋';
  }

  #toplevel_page_aiowpsec > a::before{
    content: '🛡';
  }

  #toplevel_page_duplicator > a::before{
    content: '🖇';
  }

  #toplevel_page_elite-licenser-lite > a::before{
    content: '👽';
  }

  #toplevel_page_loginizer > a::before{
    content: '⚔';
  }

  #toplevel_page_ninja-forms > a::before{
    content: '📋';
  }

  #toplevel_page_rank-math-registration > a::before{
    content: '🥇';
  }

  #toplevel_page_w3tc_dashboard > a::before{
    content: '💫';
  }

  #toplevel_page_Wordfence > a::before{
    content: '🛡';
  }

  #toplevel_page_wpfastestcacheoptions > a::before{
    content: '💫';
  }

  #toplevel_page_WP-Optimize > a::before{
    content: '💫';
  }

  #toplevel_page_nextgen-gallery > a::before{
    content: '🌅';
  }

  #toplevel_page_mailchimp-for-wp > a::before{
    content: '🐵';
  }

  #toplevel_page_ai1wm_export > a::before{
    content: '🛩';
  }

  #toplevel_page_bp-activity > a::before{
    content: '🤖';
  }

  #toplevel_page_seed_csp4 > a::before{
    content: '🖍';
  }

  #toplevel_page_exactmetrics_reports > a::before{
    content: '🤓';
  }

  #toplevel_page_monsterinsights_reports > a::before{
    content: '💡';
  }

  #toplevel_page_litespeed > a::before{
    content: '💫';
  }

  #toplevel_page_googlesitekit-dashboard > a::before{
    content: '⛱';
  }

  #toplevel_page_wc-admin\&path\=\/analytics\/overview > a::before{
    content: '🤓';
  }

  #toplevel_page_optin-monster-api-settings > a::before{
    content: '😈';
  }

  #toplevel_page_tablepress > a::before{
    content: '📰';
  }

  #toplevel_page_wp-mail-smtp > a::before{
    content: '💌';
  }

  #toplevel_page_all-in-one-seo-pack-aioseop_class > a::before{
    content: '🥇';
  }

  #toplevel_page_loco > a::before{
    content: '🌐';
  }

  #toplevel_page_elementor > a::before{
    content: '🎩';
  }

  #toplevel_page_jetpack > a::before{
    content: '🎒';
  }
}