.tablenav{
  background-color: #fff;
  border-radius: .5em;
  padding: 30px 10px;
  margin: 0;
  display: flex;
  position: relative;
  &.top{
    background-color: #fff;
    border-radius: 0 0 .5em .5em;
    padding: 8px 10px 30px 10px;
    margin-bottom: 32px;
  }
}
table{
  &.widefat{
    border-radius: .5em;
    border-color: transparent;
    @include box-shadow(0, 6px, 12px, rgba(0,0,0,.1));
    thead{
      border-radius: .5em .5em 0 0;
      tr{
        td.check-column{
          border-radius: .5em 0 0 0;
          border-bottom: $border;
        }
        td{
          border-bottom: $border;
        }
        th{
          border-bottom: $border;
          padding: 16px 8px; 
        }
      }
    }
  }
}