.tablenav{
  background-color: #fff;
  border-radius: .5em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: auto;
  @include box-shadow(0, 6px, 12px, rgba(0,0,0,.1));
  @include breakpoint( small ){
    justify-content: center;
  }
  &.top{
    background-color: #fff;
    border-radius: 0 0 .5em .5em;
    padding: 0px;
    margin-bottom: 32px;
    @include breakpoint(small){
      border-radius: .5em;
    }
  }
  &.bottom{
    margin-top: 32px;
    padding: 16px 10px;
    @include breakpoint(medium){
      margin-bottom: 64px;
    }
    .tablenav-pages{
      @include breakpoint(medium){
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .displaying-num{
          position: relative;
          top: unset;
          margin-bottom: 0.5em;
        }
      }
    }
  }
  .actions{
    margin: 8px;
  }
  .tablenav-pages{
    width: auto;
    margin: 8px;
  }
  
  
  
}
table{
  &.widefat{
    border-radius: .5em;
    border-color: transparent;
    @include box-shadow(0, 6px, 12px, rgba(0,0,0,.1));
    thead{
      border-radius: .5em .5em 0 0;
      tr{
        td.check-column{
          border-radius: .5em 0 0 0;
          border-bottom: $border;
        }
        td{
          border-bottom: $border;
        }
        th{
          border-bottom: $border;
          padding: 16px 8px; 
        }
      }
    }
  }
}