body.plugins-php{
  .tablenav{
    &.top{
      @include breakpoint( medium ){
        display: none;
      }
    }
  } 
  #plugin-search-input{
    margin: 0 !important;
    &::-webkit-input-placeholder {
      color: $gray-light;
    }
    &::-moz-placeholder {
      color: $gray-light;
    }
    &:-ms-input-placeholder {
      color: $gray-light;
    }
    &:-moz-placeholder {
      color: $gray-light;
    }
  }
}
