body.users-php{
  #wpbody{
    #wpbody-content{
      .wrap{
        form{
          table{
            .column-username{
              img{
                border-radius: 16px;;
              }
            }
          }
          .tablenav.bottom{
            display: none;
          }
        }
      }
    }
  }
}

body.profile-php{
  .user-profile-picture{
    td{
      img{
        border-radius: 50px;
      }
    }
  }
}

.defaultavatarpicker{
  .avatar{
    border-radius: 50px;
  }
}